@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-MediumItalic.eot');
    src: url('../fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('../fonts/AvenirNext-UltraLightItalic.eot');
    src: url('../fonts/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-BoldItalic.eot');
    src: url('../fonts/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-HeavyItalic.eot');
    src: url('../fonts/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Heavy.eot');
    src: url('../fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBoldItalic.eot');
    src: url('../fonts/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Medium.eot');
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Italic.eot');
    src: url('../fonts/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('../fonts/AvenirNext-UltraLight.eot');
    src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Bold.eot');
    src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: none !important;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 44px;
}

p {
    font-size: 18px;
    line-height: 25px;
    color: #717173;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

section {
    float: left;
    width: 100%;
}


/* ---------------- For Animation on Scroll ---------------- */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header,
.banner-wrap,
nav,
section {
    float: left;
    width: 100%;
}


/* ---------------- For sticky header: class="float-panel"  ------------------*/

.float-panel {
	width: 100%;
	z-index: 300;
	padding: 17px 0;
	transform: translateZ(0);
	transition: all 0.5s;
	position: relative;
}
.float-panel::before {
    background: rgb(62,68,254);
    background: linear-gradient(144deg, rgba(62,68,254,1) 59%, rgba(221,0,242,1) 98%);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
}
.float-panel .content-area {
    margin: 10px auto;
}

.float-panel a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 13px;
}

.vox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu ul li,
.main-right ul li {
    display: inline-block;
    padding: 0 13px;
}

.main-right ul li:last-child {
    padding: 0 0px;
}

.float-panel a em {
    font-style: normal;
    font-weight: 600;
    padding-left: 4px;
    font-size: 19px;
}

.float-panel .fa {
    vertical-align: middle;
    transition: all 1s;
}

.fixed {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.7s;
    opacity: 0.9;
    background: #000;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.fixed .fa {
    transform: rotate(360deg);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

.slideanim {
    visibility: hidden;
    visibility: visible\9;
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

nav .links {
    float: right;
    margin-right: 30px;
    position: relative;
}

nav .links li {
    float: left;
    list-style: none;
    position: relative;
    margin: 10px;
    display: inline-block;
}

nav .links li a {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
}

nav .links li a[class^="trigger-"] {
    padding-right: 26px;
}

nav .links li a .arrow {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 39%;
    text-align: center;
    right: 10px;
    border-width: 6px 5px 0 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1) transparent;
}

nav .links li ul {
    position: absolute;
    left: 0;
    margin: 0;
    background: #3e44fe;
    border-radius: 2px;
    display: none;
    width: 166px;
    height: 137px;
}

nav .links li ul li {
    clear: both;
    list-style: none;
    display: block;
    padding: 0 10px;
    margin: 0;
    width: 100%;
}

nav .links li ul li:hover a {
    color: #fff;
}

nav .links li:hover .drop {
    display: block;
    animation: fadeInRight .3s ease;
    -webkit-animation: fadeInRight .3s ease;
}

.float-panel a .fa-search {
    margin-right: 5px;
}


/**************Banner Overly*****************/

.banner-wrap {
    background: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-overly {
	padding: 23% 0 30%;
	text-align: center;
}

.banner-overly h5 {
    color: #fff;
    text-transform: uppercase;
}

.banner-overly h1 {
    color: #fff;
    font-size: 62px;
    font-weight: 500;
    line-height: 72px;
    margin: 20px 0;
}

.banner-overly p {
    font-size: 31px;
    color: #fff;
    padding: 0 26%;
    line-height: 36px;
    font-weight: 500;
}

.banner-overly a {
    padding: 9px 29px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 46px;
    display: inline-block;
    background: #3e44fe;
}


/****************** Access The Magic *******************/
.dolby-common-style {
    text-align: center;
}
.dolby-h-magic p {
    padding: 0 20%;
}
.content-inner-style h4 {
	color: #707175;
	text-transform: uppercase;
	font-size: 17px;
}
.dolby-h-flaw p {
    color: #89888d;
    font-size: 24px;
    line-height: 32px;
    padding-right: 0;
}
.content-inner-style h2 {
	padding: 14px 0;
}
/****************** Flawless experience, uninterrupted. *******************/

.dolby-h-flaw p {
    color: #717173;
    font-size: 18px;
    line-height: 25px;
}
.dolby-h-flaw {
    padding: 10% 0 12%;
}
.flow-flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dolby-h-flaw .col-right {
    margin-left: 84px;
}
.col-right a:before {
    position: absolute;
    content: "";
    background: #7d32ff;
    height: 2px;
    width: 80px;
    bottom: 0;
}
.col-right a {
    margin-top: 6%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #727377;
    position: relative;
    line-height: 29px;
}

/****************** MEDIA PROCESSING APIS *******************/
.dolby-h-media .but {
    text-align: center;
}

.dolby-h-media .but a {
    text-align: center;
    margin-top: 8%;
	padding: 9px 29px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    background: #3e44fe;
}
.media-video-mobile {
	display: none;
}
.dolby-h-media p {
    padding-right: 15%;
    font-size: 18px;
    line-height: 25px;
    color: #717173;
}
.dolby-h-media a.api-but {
    margin-top: 6%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #727377;
    position: relative;
    line-height: 29px;
}

.dolby-h-media a.api-but::before {
	position: absolute;
	content: "";
	background: #7d32ff;
	height: 2px;
	width: 80px;
	bottom: 0;
}
/****************** Tabing *******************/
.dolby-h-bulit-tabing {
    background: url(../images/Dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 85px 0 0px;
    padding: 11% 0 9%;
}
.head-inner-style{
	text-align: center;
}
.head-inner-style h2 {
	font-size: 43px;
	color: #fff;
	line-height: 53px;
}
.head-inner-style p {
    font-size: 18px;
    padding: 10px 20%;
    line-height: 25px;
    color: #a3a4a8;
}

.tab {
    overflow: hidden;
    position: relative;
	text-align: center;
	margin-top: 40px;
}
.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 31px 13px;
	transition: 0.3s;
	font-size: 16px;
	text-align: center;
	color: #a3a4a8;
	font-weight: 600;
}
.tab:before {
    position: absolute;
    content: "";
    background: #ccc;
    width: 65%;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	border-radius: 30px;
}
.tab button.active::before {
	position: absolute;
	content: "";
	background: #7c32ff;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 30px;
}
.tab button.active {
	position: relative;
	color: #7c32ff;
}
.tabcontent {
	display: none;
	padding: 34px 0px 0;
	border-top: none;
	text-align: center;
}
.dolby-h-bulit-tabing .tabcontent p {
    font-size: 18px;
    color: #a3a4a8;
}
.dolby-h-bulit-tabing .but {
    text-align: center;
}
.dolby-h-bulit-tabing .but a {
    text-align: center;
    padding: 9px 38px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    background: #3e44fe;
}
/****************** Trusted worldwide to deliver incredible. *******************/
.dolby-h-trused {
	background: rgb(242,242,242);
	background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 43%);
	padding: 9% 0 3%;
}
.dolby-h-trused h2 {
    font-size: 38px;
    color: #12121a;
    line-height: 44px;
}
.dolby-h-trused .content-inner-style p {
    padding: 0 18%;
    font-size: 18px;
    color: #717274;
}
.dolby-h-trused .box-wrap ul li p {
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
}
.dolby-h-trused .box-wrap ul li {
    display: inline-block;
    text-align: center;
    width: 34%;
    margin: 0 26px;
}
.dolby-h-trused .box-wrap {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dolby-h-trused .box-wrap ul li h3 {
    font-size: 1.17em;
    font-weight: 500;
    line-height: 49px;
    margin-top: 4px;
    color: #15141c;
}

/****************** Get In Touch *******************/

.dol-by-sec-getintouch {
    background: url(../images/gradient-bg.png);
    background-size: cover;
    background-position: top;
    padding: 21% 0 7%;
	text-align: center;
}

.dol-by-sec-getintouch a.but01 {
    padding: 9px 37px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 46px;
    display: inline-block;
    background: #3e44fe;
    margin-top: 4%;
}
.dol-by-sec-getintouch a.but02 {
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 46px;
    display: inline-block;
    position: relative;
    margin-top: 4%;
    margin-left: 32px;
}

.dol-by-sec-getintouch a.but02::before {
	position: absolute;
	content: "";
	background: #7e33ff;
	width: 100%;
	height: 1px;
	bottom: -3px;
}

.dol-by-sec-getintouch h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
}
.dol-by-sec-getintouch h2 {
    color: #fff;
    font-weight: 500;
    padding: 12px 0 19px;
    font-size: 38px;
    line-height: 44px;
}

.dol-by-sec-getintouch p {
    color: #fff;
    padding: 0 27%;
    font-size: 18px;
}

/* STYLES SPECIFIC TO FOOTER  */

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #13141c;
    float: left;
    padding-top: 34px;
}
.footer::after {
    background: rgb(62,68,254);
    background: linear-gradient(144deg, rgba(62,68,254,1) 59%, rgba(221,0,242,1) 98%);
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
}
.footer .col {
    width: 16%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.footer-logo {
    width: 7% !important;
}

.social {
    width: 26% !important;
}

.social p {
    padding-top: 15px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 13px;
    line-height: 17px;
    padding: 0px 0px 5px 0px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #717276;
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.footer-bottom::before {
    position: absolute;
    content: "";
    background: #717276;
    width: 93%;
    height: 1px;
    right: 0;
    top: 0;

}
.footer-bottom {
	position: relative;
}
.footer-bottom ul li {
	display: inline-block;
	padding: 0 21px;


}
.footer-bottom ul li a {
	color: #717276;
	font-size: 13px;
}
.footer-bottom ul li.country {
	padding-right: 17%;
	float: right;
}
.footer-bottom ul {
	margin: 32px 0 22px 66px;
	padding: 19px 0;
}
.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}
.footer-bottom ul li a img {
	margin: 0 7px;
}
.social ul li a i {
    color: #89898d;
    font-size: 19px;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}
.footer-mobile-logo {
	display: none;
}

/************************* Mobile Css******************/
.nav-button {
  text-transform: uppercase;
}

.dolby-mobile-nav-wrapper {
  background-color: #3e44fe;
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  height: 100%;
  padding-top: 80px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility 0.6s, -webkit-transform 0.6s;
  transition: visibility 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, visibility 0.6s;
  transition: transform 0.6s, visibility 0.6s, -webkit-transform 0.6s;
  visibility: hidden;
  width: 25vw;
}
.nav-visible .dolby-mobile-nav-wrapper {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.dolby-mobile-nav {
  position: relative;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.nav-visible .dolby-mobile-nav {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.dolby-mobile-nav li.active a {
  background-color: #fff;
  color: #3e44fe;
  font-size: 13px;
}
.dolby-mobile-nav a {
    display: block;
    line-height: 1.4;
    padding: 12.9px 19px;
    text-transform: uppercase;
    color: #fff;
	font-size: 13px;
}
.dolby-mobile-nav a:focus, .dolby-mobile-nav a:hover {
  background-color: #e715c3;
  text-decoration: none;
}

.nav-marker {
  background-color: currentColor;
  height: 2.8rem;
  position: absolute;
  right: 0;
  top: 80px;
  width: 3px;
}
.nav-marker:before {
  border: 5px solid transparent;
  border-right-color: inherit;
  content: "";
  height: 0;
  position: absolute;
  right: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
}

.color-1 {
  color: deeppink;
}

.button-lines {
	background: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 1rem 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: none;
}

.lines {
  background: #fff;
  border-radius: 0.2rem;
  display: inline-block;
  height: 0.2rem;
  width: 24px;
  position: relative;
}
.lines:hover {
  background: #fff;
}
.lines:after, .lines:before {
  background: #fff;
  border-radius: 0.2rem;
  display: inline-block;
  height: 0.2rem;
  width: 24px;
  content: "";
  left: 0;
  position: absolute;
}
.lines:after:hover, .lines:before:hover {
  background: #fff;
}
.lines:after {
  top: 0.5rem;
}
.lines:before {
  top: -0.5rem;
}

.button-lines-x .lines {
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
.button-lines-x .lines:after, .button-lines-x .lines:before {
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transition: top .3s .4s ease, -webkit-transform .3s ease;
  transition: top .3s .4s ease, -webkit-transform .3s ease;
  transition: top .3s .4s ease, transform .3s ease;
  transition: top .3s .4s ease, transform .3s ease, -webkit-transform .3s ease;
}
.nav-visible .button-lines-x .lines {
  background: transparent;
}
.nav-visible .button-lines-x .lines:after, .nav-visible .button-lines-x .lines:before {
  top: 0;
  -webkit-transition: top .3s ease, -webkit-transform .3s .3s ease;
  transition: top .3s ease, -webkit-transform .3s .3s ease;
  transition: top .3s ease, transform .3s .3s ease;
  transition: top .3s ease, transform .3s .3s ease, -webkit-transform .3s .3s ease;
}
.nav-visible .button-lines-x .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}
.nav-visible .button-lines-x .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}
/************************* Mobile Css******************/


/*************************                      *****************
************************** Responsive Media    ******************
*************************                      ******************/
@media only screen and (min-width: 1280px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1139px) {
.container .social {
    width: 1000px;
    display: block;
}
.social h1 {
    margin: 0px;
}
.media-box-wrap ul li {
    width: 27%;
}	
}
@media only screen and (max-width: 1024px) {
.button-lines {
    display: block;
}
.banner-overly p {
	padding: 0 10%;
}
.content-inner-style h2 br {
	display: none;
}
.dolby-h-magic p {
	padding: 0 0%;
}
.dolby-h-flaw img {
	max-width: 100%;
	height: auto;
	width: 100%;
}
h2 {
	font-size: 39px;
	font-weight: 500;
	line-height: 39px;
}
.main-menu {
	display: none;
}
.dolby-mobile-nav-wrapper {
	width: 37vw;
}
.dolby-mobile-nav-wrapper {
	z-index: 9;
}
.dolby-h-media .flow-flex-wrap {
	display: block;
	text-align: center;
}
.media-video-desktop {
	display: none;
}
.media-video-mobile {
	display: block;
}
.dolby-h-media p {
	padding-right: 0;
}
.main-right li:first-child {
	display: none;
}
}
@media only screen and (max-width: 950px) {
    .footer .col {
        width: 31%;
    }
.media-box-wrap ul li {
	width: 43%;
}
.footer-bottom ul li.country {
	padding-right: 0;
	float: none;
}
.flex-box-wrap .icon-img img {
	width: 85px;
}	
.footer .col h1 {
        font-size: 14px;
}
.footer .col ul li {
   font-size: 13px;
}
.footer .col:nth-child(4) {
   margin-bottom: 6%;
}

.footer .col.social {
	width: auto !important;
}
.head-inner-style p {
	padding: 10px 0%;
}
.tab button {
	padding: 7px 16px 13px;
	font-size: 13px;
}
.tabcontent img {
	max-width: 100%;
	height: auto;
}
.tab::before {
	width: 100%;
}
.dolby-h-trused .content-inner-style p {
	padding: 0;
}
.dolby-h-trused .box-wrap ul li {
	width: 43%;
	margin-bottom: 42px;
}
}

@media only screen and (max-width: 767px) {
.banner-overly p {
	padding: 0 0%;
}
.dolby-h-trused .box-wrap ul li {
	width: 100%;
	margin: 0 0 42px 0;
}
.dol-by-sec-getintouch h2 br {
	display: none;
}
.dol-by-sec-getintouch {
	padding: 21% 0 13%;
}
.tab::before {
	height: 0;
}
.dolby-h-bulit-tabing {
	padding: 12% 0 14%;
}
.dolby-h-flaw .flow-flex-wrap {
	display: block;
	text-align: center;
}
.dolby-h-flaw {
	padding: 7% 0 5%;
}
.dolby-h-media .col-left {
	padding-top: 36px;
}
.media-video-mobile img {
	max-width: 100%;
	height: auto;
}
.dolby-h-flaw .col-right {
	margin-left: 0;
	text-align: center;
	padding: 47px 11px 29px;
}
.footer-bottom ul {
	margin: 32px 0 22px 0;
	padding: 19px 0;
	text-align: left;
}
.footer-bottom::before {
	width: 100%;
}
.footer-bottom ul li {
	display: inline-block;
	padding: 0 21px 9px;
}

.banner-overly {
	padding: 20% 0 13%;
}
.banner-overly h1 br {
	display: none;
}
.wrap-inner-content p {
	padding: 0 3%;
}
.banner-overly h1 {
	font-size: 52px;
	line-height: 52px;
}
.footer .col {
	padding-bottom: 23px;
}

}
@media only screen and (max-width: 600px) {
.dol-by-sec-getintouch h2 {
	font-size: 36px;
}
h2 {
	font-size: 33px !important;
	line-height: 35px !important;
}
.col-mobile {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 0 2%;
}
.col-mobile .right {
	width: 50% !important;
}
.footer .col.social {
	width: auto !important;
}
.footer .col {
	width: auto;
}
.footer-mobile-logo {
	width: 100%;
	padding: 0 0 27px 2%;
}
.footer .col:nth-child(5) {
	margin-left: 2%;
}
.footer-logo {
	display: none;
}
.footer-mobile-logo {
	display: block;
}

}
@media only screen and (max-width: 500px) {
.footer .col h1 {
        font-size: 14px;
    }
.footer-mobile-logo {
	padding: 0 0 27px 5%;
}
.float-panel a em {
	font-size: 15px;
}	
.banner-overly {
	padding: 25% 0 14%;
}
.footer .col ul li {
        font-size: 13px;
    }

.banner-overly h1 {
	font-size: 41px;
	line-height: 41px;
}
.footer .col:nth-child(4) {
	margin-bottom: 22px;
}

.footer .col {
	margin-bottom: 0px;
	padding-left: 8px;
}
.footer .col:nth-child(4) {
	margin-bottom: 0;
}
.footer-bottom ul {
	margin: 5px 0 0px 0;
}
.dolby-mobile-nav-wrapper {
	width: 58vw;
}
.footer-bottom::before {
	width: 96%;
}
.footer-bottom ul li {
	display: inline-block;
	padding: 0 8px 9px;
}
}

@media only screen and (max-width: 340px) {

	
}



/****============== Dolby CSS End==================********/











